# Question 1
- Import pandas and create a DataFrame with columns: Name, Age, Marks.
Display the first 5 rows and dataset shape.

In [44]:
import pandas as pd
import random

data = {
    "Name": ["Aabhash", "Sandeep", "Shreyan", "Amit", "Yash", "Anushka"],
    "Age": [20, 21, 19, 22, 20, 21],
    "Marks": [85, 55, 92, 40, 78, 95],
}

df = pd.DataFrame(data)
# df.to_csv("data.csv", index=False)
print("Data:\n", df.head())
print("\nShape:", df.shape)

Data:
       Name  Age  Marks
0  Aabhash   20     85
1  Sandeep   21     55
2  Shreyan   19     92
3     Amit   22     40
4     Yash   20     78

Shape: (6, 3)

# Question 2

- Load a CSV file into a DataFrame.
- Display column names, data types, and basic statistics.

In [45]:
csv_df = pd.read_csv("data.csv")
print("Columns:", csv_df.columns)
print("\nDatatype:\n", csv_df.dtypes)
print("\nStats:\n", csv_df.describe())

Columns: Index(['Name', 'Age', 'Marks'], dtype='object')

Datatype:
 Name      object
Age        int64
Marks    float64
dtype: object

Stats:
             Age      Marks
count   8.00000   5.000000
mean   20.50000  62.400000
std     0.92582  28.788887
min    19.00000  22.000000
25%    20.00000  55.000000
50%    20.50000  55.000000
75%    21.00000  85.000000
max    22.00000  95.000000

# Question 3

- Select rows where Marks > 60.
- Select only Name and Marks columns.

In [46]:
df = csv_df.copy()
high_marks = df[df["Marks"] > 60]
subset = df[["Name", "Marks"]]

print(f"High Marks:\n {high_marks} \n")
print(f"Subset:\n {subset} \n")

High Marks:
       Name  Age  Marks
0  Aabhash   20   85.0
5  Anushka   21   95.0

Subset:
       Name  Marks
0  Aabhash   85.0
1  Sandeep   55.0
2  Shreyan    NaN
3     Amit   22.0
4     Yash    NaN
5  Anushka   95.0
6     Yash    NaN
7  Sandeep   55.0

# Question 4

- Check for missing values in the dataset.
- Fill missing numerical values with the mean.

In [47]:
print("All Null Values:\n", df.isnull().sum())
df["Marks"] = df["Marks"].fillna(df["Marks"].mean())
print(df.head(6))

All Null Values:
 Name     0
Age      0
Marks    3
dtype: int64
      Name  Age  Marks
0  Aabhash   20   85.0
1  Sandeep   21   55.0
2  Shreyan   19   62.4
3     Amit   22   22.0
4     Yash   20   62.4
5  Anushka   21   95.0

# Question 5
- Detect duplicate rows in the dataset.
- Remove duplicates and verify the result.

In [48]:
print(f"Duplicate Rows (After): \n {df.duplicated().sum()} \n")
df.drop_duplicates(inplace=True)
print(f"Duplicate Rows (Before): \n {df.duplicated().sum()} \n")

Duplicate Rows (After):
 2

Duplicate Rows (Before):
 0

# Question 6

- Identify outliers in the Marks column using the IQR method.
- Remove the outliers from the dataset.

In [49]:
q1 = df["Marks"].quantile(0.25)
q3 = df["Marks"].quantile(0.75)
iqr = q3 - q1

low = q1 - 1.5 * iqr
up = q3 + 1.5 * iqr
df = df[(df["Marks"] >= low) & (df["Marks"] <= up)]
print(f"Low: {low}, High: {up}")

print(df)

Low: 23.100000000000016, High: 113.09999999999998
      Name  Age  Marks
0  Aabhash   20   85.0
1  Sandeep   21   55.0
2  Shreyan   19   62.4
4     Yash   20   62.4
5  Anushka   21   95.0

# Question 7
- Create a new column by transforming Marks (e.g., Marks / 10).
- Rename columns and save the cleaned dataset to a CSV file.

In [50]:
df["Transformed Marks"] = df["Marks"]/10
print(f"Transformed Marks: \n {df}")
df.rename(columns={"Transformed Marks": "New Marks"}, inplace=True)
print(f"\nRenamed Column: \n {df}")

df.to_csv("cleaned_data.csv", index=False)

Transformed Marks:
       Name  Age  Marks  Transformed Marks
0  Aabhash   20   85.0               8.50
1  Sandeep   21   55.0               5.50
2  Shreyan   19   62.4               6.24
4     Yash   20   62.4               6.24
5  Anushka   21   95.0               9.50

Renamed Column:
       Name  Age  Marks  New Marks
0  Aabhash   20   85.0       8.50
1  Sandeep   21   55.0       5.50
2  Shreyan   19   62.4       6.24
4     Yash   20   62.4       6.24
5  Anushka   21   95.0       9.50

In [51]:
# 2 table xa 
# euta ma student ko info (PK = roll)
# second ma student ko marks (roll)

In [69]:
import random
from faker import Faker
fake = Faker()

random.seed(4090)
students = {
    "Roll": [i for i in range(100)],
    "Name": [fake.name() for i in range(100)],
    "Age": [random.randint(18,22) for i in range(100)],
}

marks = {
    "Roll": [i for i in range(100) for j in range(4)],
    "Marks": [random.randint(0, 100) for i in range(400)]
}

students_df = pd.DataFrame(students)
marks_df = pd.DataFrame(marks)

print(students_df)
print()
print(marks_df)

avg_marks = marks_df.groupby("Roll").mean()
# students_df.set_index("Roll").join(avg_marks.set_index("Roll"))
students_df = students_df.merge(avg_marks, left_on='Roll', right_on='Roll')
print()
print(students_df)

    Roll               Name  Age
0      0        David Smith   22
1      1  Christine Sanchez   21
2      2     Allison Archer   18
3      3    Brent Henderson   18
4      4        Cory Herman   20
..   ...                ...  ...
95    95       Frank Oneill   18
96    96      Nicole Bishop   18
97    97         David Wall   22
98    98     Jason Mcknight   21
99    99   Shannon Ruiz DDS   18

[100 rows x 3 columns]

     Roll  Marks
0       0     36
1       0     51
2       0     68
3       0     28
4       1     35
..    ...    ...
395    98     65
396    99     46
397    99     46
398    99     90
399    99     57

[400 rows x 2 columns]

    Roll               Name  Age  Marks
0      0        David Smith   22  45.75
1      1  Christine Sanchez   21  46.25
2      2     Allison Archer   18  54.25
3      3    Brent Henderson   18  28.75
4      4        Cory Herman   20  64.50
..   ...                ...  ...    ...
95    95       Frank Oneill   18  56.75
96    96      Nicole Bishop   18  40.75
97    97         David Wall   22  44.25
98    98     Jason Mcknight   21  29.75
99    99   Shannon Ruiz DDS   18  59.75

[100 rows x 4 columns]